/ {
    test {
        compatible = "custom,compatible";
        #address-cells = <1>;
        #size-cells = <1>;
        status = "okay";

        test1: test_1 {
            compatible = "custom,test";
            first-var = <42>;
            second-var = <10>;
            status = "okay";
        };

        test2: test_2 {
            compatible = "custom,test";
            first-var = <17>;
            second-var = <29>;
            status = "okay";
        };

        button {
            compatible = "custom,gpio";
            gpio_port = "A";
            pin = <0>;
            pull_type = "pull_down";
            output = "input";
        };

        green_light {
            compatible = "custom,gpio";
            gpio_port = "D";
            pin = <12>;
            pull_type = "pull_down";
            output = "output";
        };
    };
};
